* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    width: 100vw;
    height: 100vh;
}

.box:hover {
  background-color: black;
  transition: background-color 0.4s;
}
